# Environment
PSM_ENV=dev

# Filesystem Storage
PSM_STORAGE_PATH=/var/psm/storage
PSM_METADATA_PATH=/var/psm/metadata
PSM_KEYSTORE_PATH=/var/psm/keystore

# Postgres Storage
POSTGRES_PASSWORD=psm_dev_password
DATABASE_URL=postgres://psm:${POSTGRES_PASSWORD}@localhost:5432/psm
