# Environment
GUARDIAN_ENV=dev

# Filesystem Storage
GUARDIAN_STORAGE_PATH=/var/guardian/storage
GUARDIAN_METADATA_PATH=/var/guardian/metadata
GUARDIAN_KEYSTORE_PATH=/var/guardian/keystore

# Optional Postgres Storage
# DATABASE_URL=postgres://guardian:guardian_dev_password@localhost:5432/guardian

# Optional local Postgres password for docker-compose.postgres.yml
# POSTGRES_PASSWORD=guardian_dev_password

# AWS deployment
DEPLOY_STAGE=dev
# DEPLOY_STAGE=prod

STACK_NAME=guardian
SUBDOMAIN=guardian-stg
DOMAIN_NAME=openzeppelin.com
AWS_REGION=us-east-1
CPU_ARCHITECTURE=X86_64
GUARDIAN_NETWORK_TYPE=MidenTestnet

# HTTPS and DNS
# ACM_CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/...
# CLOUDFLARE_ZONE_ID=...
# CLOUDFLARE_API_TOKEN=...
